import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');


.navbar-brand, .nav-item {
  font-family: 'Inconsolata', monospace;
}
.navbar {
  background-color: #804033 !important;
}
.nav-link {
  color: #FFFFFF !important;
}

header {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 350%;
}

h1 {
  line-height: 2em !important;
}


body {
    background-color: #ffffff;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: serif;
    color: #738E99;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3,h6 {
  font-family: 'Libre Baskerville', serif;
  color: #738E99;
  padding: 7px;
}

#text {
  position: relative;
  max-width: 100%;
  max-height: auto;
  padding: 10px;
  text-align: left;
}

.col-lg-6, .col-lg-4, .col-lg-8 {
  max-height: 800px;
  max-width: 50%;
  min-height: 200px;
  min-width: 20%;
  margin: 10px;
}


/*color for nav*/
.bg-light {
    background-color: #ecede2!important;
}

img {
  position: relative;
  max-width: 60%;
  min-width: 200px;
}


#image1{
  position: relative;
  margin: auto;
  max-width: 60%;
  min-width: 200px;
}
#image2{
  position: relative;
  float:right;
  margin: auto;
  max-width: 60%
}

#audio {
  position: absolute; top: 10px, left 15px;
}
#poem{
  position: absolute;
  float: right;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    justify-content: space-between;
}

a:hover {
    color: #787878;
  }
figcaption{
  background-color:#804033;

  text-align: center;
}
