@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    background-color: #ffffff;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: serif;
    font-size: 100%;
    color: #5a7048;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  color: #5a7048;
  padding: 7px;
}

h1 {
  font-size: 350%;
}

#text {
  position: relative;
  max-width: 100%;
  max-height: auto;
  padding: 10px;
  text-align: left;
}

.col-lg-6, .col-lg-4, .col-lg-8 {
  max-height: 800px;
  max-width: 50%;
  min-height: 200px;
  min-width: 20%;
  margin: 10px;
}

.bg-light {
  position: sticky;
  color: green;
}

/*color for nav*/
.bg-light {
    background-color: #ecede2!important;
}

img {
  position: relative;
  max-width: 60%;
  min-width: 200px;
}

.planet {
  padding: 10px;
  max-width: 200px;
  min-width: 80px;
  height: auto;
}

.col-sm-4 {
  background-color: #bbd4e4;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    font-size: 140%;
    justify-content: space-between;
}

a:hover {
    color: #787878;
  }

footer {
  text-align: center;
}
