@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');


.navbar-brand, .nav-item {
  font-family: 'Inconsolata', monospace;
}
.navbar-brand {
  font-weight: 600;
  font-size: 1.5em;
}
.navbar-nav > .active > a {
    background-color: purple !important;
}
.navbar {
  background-color: #804033 !important;
}
.nav-link {
  color: #FFFFFF !important;
}

header {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 350%;
}

h1 {
  line-height: 2em !important;
}

body {
    background-color: #FCF5E5;
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
    font-family: serif;
    color: #5a7048;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
  text-align: left;
  font-family: 'Inconsolata', monospace;
  color: #0d0907;
}

h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  color: #5a7048;
  padding: 7px;
}

#text {
  position: relative;
  max-width: 100%;
  max-height: auto;
  padding: 10px;
  text-align: left;
}

#poem {
  font-size: 88%;
  margin-left: 65px;
  margin-right: 15px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 17px;
}

.bio, .scz {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  min-width: 200px;
  margin: none;
  vertical-align: middle;
}

figcaption {
    font: italic medium Libre-Baskerville, serif;
    padding: 10px;
}

.planet {
  position: relative;
  display: inline-block;
  padding: 10px;
  max-width: 200px;
  min-width: 80px;
  height: auto;
}

#audio {
  max-width: 30%;
  min-width: 15%;
  max-height: 350px;
  background-color: #bbd4e4;
  border: solid 4px #7e8e99;
  margin-top: 250px;
  text-align: center;
  justify-content: center !important;
}

audio {
  max-width: 300px;
  position: relative;
}

.comment {
  max-width: 30%;
  min-width: 15%;
}

footer {
  display: block;
  background-color: #b66648;
  color: #804033;
  padding: 10px;
  margin: 20px;
  font-family: 'Inconsolata', monospace;
  font-size: 80%;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    justify-content: space-between;
}

a:hover {
    color: #787878;
  }

@media screen and (max-width: 1200px) {
  #audio {
       min-width: 100%;
       margin-top: 40px;
       display: inline-block;
       background-color: none;
       border: none;
     }
   img #audio{
     display: none;
   }
}
