@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&family=Libre+Baskerville:wght@400;700&display=swap');

body {
  background-color: #FCF5E5;
  font-family: 'Inconsolata', monospace;
}

.border-sm-right {
  border-right: 1px solid silver;
}

.navbar-brand {
  font-size: 1.7em;
}
.mine {
  font-weight: 800;
}
.navbar {
  background-color: #804033 !important;
}
.nav-link {
  color: #FFFFFF !important;
}
.navbar ul li a:hover {
color: #FCF5E5 !important;
}

header {
  text-align: center;
}
h1, h2, h3 {
  font-family: 'Libre Baskerville', serif;
  line-height: 2em !important;
}
.sub {
  font-size: 80%;
  display: inline-block;
  padding-left: 1em;
}

p, li {
  font-size:
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}
figcaption {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    font: italic medium Libre-Baskerville, serif;
    padding: 10px;
    text-align: center;
}


.media {
  background-color: #738e99;
  max-height: 20vh;
}
.thumbnail {
  max-width: 120px;
  min-height: 100%;
}
.audio {
  text-align: center;
}
.controls {
  width: 90%;
  opacity: 0.8;
}
h4 {
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .media {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .sub {
    padding-left: 0;
  }
}
@media (max-width: 575px){
  .border-sm-right {
    border-right: none;
  }
}
